# Flutter
.dart_tool/
.packages
.pub-cache/
build/

# Android / iOS
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
